.catalog-item {
    .content {
        .pic {
            border-radius: 10px;
            margin-bottom: 35px;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 10px;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .tags {
                    position: absolute;
                    width: 100%;
                    padding: 10px;
                    left: 0;
                    top: 0;
                    > span {
                        padding: 9px 11px 10px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        &:hover {
                            opacity: 1;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .info {
            a {
                color: black;
                &:hover {
                    opacity: 0.7;
                }
            }
            .prices {
                margin-bottom: 5px;
                .price {
                    font-weight: 800;
                    font-size: 2rem;
                    line-height: 1.25;
                    .currency {
                        font-weight: 700;
                    }
                    &.price--new {
                        color: $violet;
                    }
                    &.price--old {
                        font-weight: 500;
                        font-size: 1.35rem;
                        margin-left: 15px;
                        position: relative;
                        .currency {
                            font-weight: 400;
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            left: 0;
                            top: 50%;
                            height: 2px;
                            width: 100%;
                            background-color: $violet;
                            transform: rotate(-8deg);
                        }
                    }
                }
            }
            .name {
                font-weight: 700;
                font-size: 1rem;
            }
        }
    }
}