.hit-block {
    .swiper {
        .swiper-pagination {
            .swiper-pagination-bullet {
                background-color: $orange;
            }
        }
    }
}

.index-page {
    .hit-block {
        margin-bottom: 200px;
        @media (max-width: 1920px) {
            margin-bottom: 100px;
        }
        @media (max-width: 1599px) {
            margin-bottom: 50px;
        }
    }
}