.interesting-links {
    .basic-title {
        font-size: 1.35rem;
        position: relative;
        width: fit-content;
        margin-bottom: 100px;
        @media (max-width: 1920px) {
            margin-bottom: 70px;
        }
        @media (max-width: 1499px) {
            margin-bottom: 50px;
        }
        @media (max-width: 991px) {
            margin-bottom: 35px;
        }
        @media (max-width: 399px) {
            font-size: 1.2rem;
        }
        &::after {
            position: absolute;
            content: "";
            height: 5px;
            width: 75%;
            background-color: $red;
            left: 0;
            bottom: -25px;
            @media (max-width: 1920px) {
                bottom: -15px;
            }
            @media (max-width: 1499px) {
                bottom: -10px;
                height: 3px;
            }
        }
    }
    .interesting-links-wrapper {
        column-count: 3;
        @media (max-width: 767px) {
            column-count: 2;
        }
        > a {
            page-break-inside: avoid;
            break-inside: avoid;
            display: block;
            font-weight: 500;
            color: black;
            margin-bottom: 30px;
            transition: 0.2s ease;
            @media (max-width: 1920px) {
                margin-bottom: 25px;
            }
            @media (max-width: 1499px) {
                margin-bottom: 20px;
            }
            @media (max-width: 991px) {
                margin-bottom: 15px;
            }
            &:hover,
            &:focus {
                color: $red;
                transition: 0.2s ease;
            }
        }
    }
}