.interesting-links {
    .basic-title {
        font-size: 1.35rem;
        position: relative;
        width: fit-content;
        margin-bottom: 100px;
        &::after {
            position: absolute;
            content: "";
            height: 5px;
            width: 75%;
            background-color: $red;
            left: 0;
            bottom: -25px;
        }
    }
    .interesting-links-wrapper {
        column-count: 3;
        > a {
            page-break-inside: avoid;
            break-inside: avoid;
            display: block;
            font-weight: 500;
            color: black;
            margin-bottom: 30px;
            transition: 0.2s ease;
            &:hover,
            &:focus {
                color: $red;
                transition: 0.2s ease;
            }
        }
    }
}