.login-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
    width: 36%;
    min-height: 100%;
	transform: translateX(100%);
	transition: 0.3s ease;
	&.open {
		transform: translateX(0);
	}
}
