.static-banner {
    margin-bottom: 160px;
    .static-banner-link {
        &:hover {
            .content .description .static-banner-button {
                background-color: $violet;
                transition: 0.2s ease;
            }
            .content .pic .pic-content > img {
                transform: scale(1.05);
                transition: 0.7s ease;
            }
        }
    }
    .content {
        background-image: radial-gradient(90% 907.23% at 67.88% 38.51%, #EFFF8B 0%, #70DC8E 43.75%, #4D8AC4 100%);
        border-radius: 10px;
        .description {
            padding: 45px 63px;
            color: white;
            font-size: 1.35rem;

            .static-banner-title {
                font-weight: 800;
                font-size: 3.5rem;
                line-height: 1.125;
                text-transform: uppercase;
            }
            .static-banner-button {
                width: fit-content;
                background-color: $red;
                border-radius: 10px;
                font-weight: 700;
                font-size: 1.3rem;
                line-height: 1;
                padding: 12px 32px 13px;
                margin-top: 30px;
                transition: 0.2s ease;
            }
        }
        .pic {
            overflow: hidden;
            .pic-content {
                overflow: hidden;
                border-radius: 0px 222px;
                > img {
                    width: 100%;
                    transition: 0.7s ease;
                }
            }
        }
    }
}